body {
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter';
    font-size: 15px;
    color: hsl(0, 0%, 100%);
}
.container {
    background-color: hsl(244, 38%, 16%);
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
.img {
    background-color: hsl(277, 95%, 24%);
}
img {
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
    mix-blend-mode: screen;
}
.text {
    padding: 30px 20px;
}
.text .title {
    font-size: 30px;
    font-weight: 700;
}
.text .description {
    margin-top: 20px;
    color: hsla(0, 0%, 100%, 0.356);
    font-size: 16px;
    font-family: 'Lexend Deca';
}
.stat {
    margin-top: 20px;
}
.stat .number {
    font-size: 18px;
    margin-top: 15px;
}
.stat .name {
    font-size: 10px;
    margin-top: 5px;
    color: hsla(0, 0%, 100%, 0.363);
}
@media only screen and (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
    }
    img {
        height: 100%;
    }
    .text {
        padding: 70px 80px 70px 70px;
        width: 50%;
    }
    .text .title {
        font-size: 25px;
    }
    .text .description {
        font-size: 12px;
    }
    .text .title, .text .description {
        text-align: left;
    }
    .stat {
        display: flex;
        justify-content: space-between;
    }
    .stat .number {
        font-size: 20px;
        font-weight: 700;
    }
    .stat .name {
        font-size: 10px;
    }
}